.container{
  padding-top: 70px;
}


.header_title {
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 2px;
	color:#e95420;
	padding: 7px 21px 7px 21px;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	display: inline-block;
	border: 3px solid #e95420;
}
.header_wrapper {
	text-align: center;
}

.mlhbadge img{
  display:block;
  max-width:100px;
  min-width:60px;
  position:fixed;
  right:80px;
  top:0;
  width:10%;
  z-index:10000
}

.thumbnail_img{
  text-align: center;
  max-height: 100%;
  max-width: 100%;
}
