---
title: Coming Soon!
permalink: /coming-soon/
---
<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

    {% include header.html %}
    <div class="container">
      <h1 class="text-center">This page is coming soon!</h1>
      <div class="hidden-xs text-center">
        <h2>Play some Pong instead!</h2>
        <canvas id="canvas-pong" height="400" width="400"></canvas>
        <h3>Player: <span id="playerScore">0</span></h3>
        <h3>Computer: <span id="computerScore">0</span></h3>
        <p>
          S to Start. Arrow Keys to Move. R to Restart.
        </p>
      </div>
    </div>
    {% include footer.html %}
    <script>
    //inspiration from https://robots.thoughtbot.com/pong-clone-in-javascript

    var animate = window.requestAnimationFrame || window.webkitRequestAnimationFrame || window.mozRequestAnimationFrame || function (callback) {
    window.setTimeout(callback, 1000 / 60);
    };

    var canvas = $("#canvas-pong")[0];
    var cwidth = 400;
    var cheight = 400;
    var context = canvas.getContext('2d');
    var player = new Player();
    var computer = new Computer();
    var ball = new Ball(cwidth/2, cheight/2);
    var playerScore = 0;
    var computerScore = 0;
    var reset = false;
    var pause = true;
    var scored = false;
    var playspeed = 8;
    var compspeed = 10;

    var keysDown = {};

    var render = function () {
      context.fillStyle = "#E95420";
      context.fillRect(0, 0, cwidth, cheight);
      player.render();
      computer.render();
      ball.render();
    };

    var update = function () {
      player.update();
      computer.update(ball);
      ball.update(player.paddle, computer.paddle);
    };

    var stats = function (){
    $('#playerScore').html(playerScore);
    $('#computerScore').html(computerScore);
    };

    var step = function () {
      update();
      render();
      animate(step);
    };

    function Paddle(x, y, width, height) {
      this.x = x;
      this.y = y;
      this.width = width;
      this.height = height;
      this.x_speed = 0;
      this.y_speed = 0;
    }

    Paddle.prototype.render = function () {
      context.fillStyle = "#FFFFFF";
      context.fillRect(this.x, this.y, this.width, this.height);
    };

    Paddle.prototype.move = function (x, y) {
      this.x += x;
      this.y += y;
      this.x_speed = x;
      this.y_speed = y;
      if (this.x < 0) {
          this.x = 0;
          this.x_speed = 0;
      } else if (this.x + this.width > cwidth) {
          this.x = cwidth - this.width;
          this.x_speed = 0;
      }
    };

    Paddle.prototype.reset = function (){
    this.x = cwidth/2-25;
    this.x_speed = 0;
    };

    function Computer() {
      this.paddle = new Paddle(cwidth/2-25, 10, 50, 10);
    }

    Computer.prototype.render = function () {
      this.paddle.render();
    };

    Computer.prototype.update = function (ball) {
      var x_pos = ball.x;
      var diff = -((this.paddle.x + (this.paddle.width / 2)) - x_pos);
      if (diff < 0 && diff < -compspeed) {
          diff = -compspeed;
      } else if (diff > 0 && diff > compspeed) {
          diff = compspeed;
      }
      this.paddle.move(diff, 0);
      if (this.paddle.x < 0) {
          this.paddle.x = 0;
      } else if (this.paddle.x + this.paddle.width > cwidth) {
          this.paddle.x = cwidth - this.paddle.width;
      }
    };

    function Player() {
      this.paddle = new Paddle(cwidth/2-25, cheight-20, 50, 10);
    }

    Player.prototype.render = function () {
      this.paddle.render();
    };

    Player.prototype.update = function () {
      for (var key in keysDown) {
          var value = Number(key);
          if (value == 83){
            pause = false;
          } else if (value == 82) {
             playerScore = 0;
             computerScore = 0;
             reset = true;
             pause = true;
             stats();
          }
          else if (pause === false){
            if (value == 37) {
                this.paddle.move(-playspeed, 0);
            } else if (value == 39) {
                this.paddle.move(playspeed, 0);
            }
          } else {
            this.paddle.move(0, 0);
          }
      }
      if (reset === true){
        this.paddle.reset();
      }
      else if (scored === true){
        this.paddle.reset();
        scored = false;
      }
    };

    function Ball(x, y) {
      this.x = x;
      this.y = y;
      this.x_speed = 0;
      this.y_speed = 3;
    }

    Ball.prototype.reset = function(){
    this.x_speed = 0;
    this.y_speed = 3;
    this.x = cwidth/2;
    this.y = cwidth/2;
    reset = false;
    };

    Ball.prototype.render = function () {
      context.beginPath();
      context.arc(this.x, this.y, 5, 2 * Math.PI, false);
      context.fillStyle = "#FFFFFF";
      context.fill();
    };

    Ball.prototype.update = function (paddle1, paddle2) {
      if (pause === false){
        this.x += this.x_speed;
        this.y += this.y_speed;
        var top_x = this.x - 5;
        var top_y = this.y - 5;
        var bottom_x = this.x + 5;
        var bottom_y = this.y + 5;
        if (reset === true){
          this.reset();
        }
        if (this.x - 5 < 0) {
          this.x = 5;
          this.x_speed = -this.x_speed;
        } else if (this.x + 5 > cwidth) {
          this.x = cwidth-5;
          this.x_speed = -this.x_speed;
        }
        if (this.y < 0){ // AI Loses
          this.reset();
          playerScore += 1;
          scored = true;
          stats();
        }
        if (this.y > cheight){ // Player Loses
          this.reset();
          computerScore += 1;
          scored = true;
          stats();
        }

        if (top_y > cheight-100) {
            if (top_y < (paddle1.y + paddle1.height) && bottom_y > paddle1.y && top_x < (paddle1.x + paddle1.width) && bottom_x > paddle1.x) {
                this.y_speed = -3;
                this.x_speed += (paddle1.x_speed / 2);
                this.y += this.y_speed;
            }
        } else {
            if (top_y < (paddle2.y + paddle2.height) && bottom_y > paddle2.y && top_x < (paddle2.x + paddle2.width) && bottom_x > paddle2.x) {
                this.y_speed = 3;
                this.x_speed += (paddle2.x_speed / 2);
                this.y += this.y_speed;
            }
        }
      }
    };

    animate(step);

    window.addEventListener("keydown", function (event) {
      keysDown[event.keyCode] = true;
    });

    window.addEventListener("keyup", function (event) {
      delete keysDown[event.keyCode];
    });
    </script>
  </body>
</html>
