---
title: DMCS Club
---
<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

    {% include header.html %}
      <div class="container">
        <div class="jumbotron">
          <div class="row">
            <div class="col-sm-4">
              <img class="img-responsive" src="{{site.baseurl}}/img/dmcs-transparent.png" alt="DMCS Logo" />
            </div>
            <div class="col-sm-8">
              <h1>DMCS Club</h1>
              <h2><small><span id="quote"></span></small></h2>
              <p class="lead">
                Welcome to the <b>D</b>igital <b>M</b>edia and <b>C</b>omputer <b>S</b>cience
              </p>
              <a href="{{site.baseurl}}/about/" class="btn btn-primary">Learn More</a>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <div class="well">
              <h2>Next Event</h2>
               <h3>First Club Meeting: Tuesday September 20th</h3>
            </div>
          </div>
          <div class="col-sm-8">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h2>Latest News</h2>
              </div>
              <div class="panel-body">
                {% for post in site.posts limit: 5 %}
                  <h3><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }} <small>{{ post.date | date: "%b %-d, %Y" }}</small></a></h3>
                {% endfor %}
              </div>
              <div class="panel-footer">
                <p>subscribe by <!--<a href="http://eepurl.com/cffc9X ">email</a> or--> <a href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% include footer.html %}
    <script>
      quotes = [
         "Spiders are great web developers.",
         "Computers aren't scary: they don't byte!",
         "I love long walks(on the beach)",
         "It's not a bug, it's a feature!",
         "There are 10 kinds of people in the world: those who understand binary, and those who don't.",
         "[\"hip\",\"hip\"]",
         "To understand what recursion is, you must first understand recursion.",
         "A SQL query walks into a bar, sees two tables and asks, \"Can I join you?\"",
         "Error 404: quote not found",
         "💻 💾 🎛 🖥"
      ];
      var randomQuote = quotes[Math.floor(Math.random() * quotes.length)];
      $("#quote").html(randomQuote);
    </script>
  </body>

</html>
