---
title: DMCS Club
---
<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

    {% include header.html %}
      <div class="container">
        <div class="jumbotron">
          <div class="row">
            <div class="col-sm-4">
              <img class="img-responsive" src="{{site.baseurl}}/img/dmcs-transparent.png" alt="DMCS Logo" />
            </div>
            <div class="col-sm-8">
              <h1>DMCS Club</h1>
              <h2><small><span id="quote"></span></small></h2>
              <p class="lead">
                Welcome to the <b>D</b>igital <b>M</b>edia and <b>C</b>omputer <b>S</b>cience
              </p>
              <a href="#" class="btn btn-primary">Register</a> <a href="{{site.baseurl}}/about/" class="btn btn-primary">Learn More</a>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <div class="well">
              <h2>Want more problems?</h2>
               <p>
                 Check back soon for some computer science problems. You'll be able to write a program, get instant feedback on how you did, and show off your results to the world.
               </p>
            </div>
            <div class="well">
              <h2>Next Event</h2>
               <h3>Club meeting this Thursday (September 15)</h3>
            </div>
          </div>
          <div class="col-sm-8">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h2>Latest News</h2>
              </div>
              <div class="panel-body">
                {% for post in site.posts limit: 5 %}
                  <h3><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }} <small>{{ post.date | date: "%b %-d, %Y" }}</small></a></h3>
                {% endfor %}
              </div>
              <div class="panel-footer">
                <p>subscribe by <a href="http://eepurl.com/cffc9X ">email</a> or <a href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% include footer.html %}
    <script>
      quotes = [
        {
          "quote": "spiders are good web developers"
        }
      ];
      var randomQuote = quotes[Math.floor(Math.random() *quotes.length)];
      $("#quote").html(randomQuote["quote"]);
    </script>
  </body>

</html>
