---
layout: default
---
<div class="container">
  <article itemscope itemtype="http://schema.org/BlogPosting">

    <header>
      <h1 class="page-header" itemprop="name headline">{{ page.title }} <small><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} by <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</small></h1>
    </header>

    <div itemprop="articleBody">
      {{ content }}
    </div>

  </article>
</div>
